@import 'import/reset';
@import 'import/variables';
@import 'import/buttons';
@import 'import/forms';
@import 'import/lists';
@import 'import/tables';
@import 'import/mixin';
@import 'import/wordpress';
@import 'grid/bootstrap';
@import 'grid/bootstrap-theme';
@import 'sprite';

body {
  font-family: $base-font-family;
  font-size: $base-font-size;
  font-weight: $f-norm;
  line-height: $base-line-height;

  color: $base-font-color;
  background-color: $base-background-color;

  -webkit-font-smoothing: antialiased;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font-family;
  font-size: $base-font-size;
  line-height: $heading-line-height;

  margin: 0 0 $small-spacing;
}
p,
pre {
  margin: 0 0 $small-spacing;
}
a {
  transition: $base-transition;
  text-decoration: none;

  color: $action-color;
  &:active,
  &:focus,
  &:hover {
    color: darken($action-color, 15%);
  }
  &:active,
  &:focus {
    color: lighten($action-color, 15%);
    outline: none;
  }
}
hr {
  margin: $base-spacing 0;

  border-top: none;
  border-right: none;
  border-bottom: $base-border;
  border-left: none;
}
img,
picture {
  max-width: 100%;
  margin: 0;
}
.wrapper {
  position: relative;

  width: 100%;
  height: auto !important;
  height: 100%;
  min-height: 100%;
  margin: 0 auto;

  @extend .clearfix;
}
.btn {
  font-weight: normal;
  &:hover {
    text-decoration: none;
  }
}
.btn-gold {
  padding: 12px 32px;

  color: #000;
  background-color: $light-gold;
  &:hover {
    background-color: $gold;
  }
}
header {
  background-image: url(../img/bg/header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  .row-headline {
    .logo {
      position: absolute;
      top: 10px;
      left: 0;

      display: block;

      width: 211px;
      height: 134px;

      text-align: center;
      img {
        width: 70%;
        margin-bottom: 5px;
      }
      h4 {
        font-size: 21px;

        margin-bottom: 0;
      }
      h5 {
        font-size: 12px;

        color: $gold;
      }
    }
    .row-headline__body {
      padding: 38px 0 0;
      .site-title,
      .site-desctiption {
        text-align: center;
      }
      .site-title {
        font-size: 26px;
        line-height: 36px;

        margin-bottom: 10px;
        padding: 0 280px;
        padding-bottom: 30px;

        color: $gold;
        background-image: url(../img/site-title.png);
        background-repeat: no-repeat;
        background-position: center bottom;
      }
      .header-search {
        position: relative;

        width: 480px;
        margin: 0 auto 30px;
        input[type=text] {
          height: 32px;

          border: 1px solid black;
          border-radius: 0;
        }
        button {
          position: absolute;
          top: 0;
          right: 0;

          width: 32px;
          height: 32px;
          padding: 0;

          text-align: center;

          background-color: transparent;
          i {
            font-size: 130%;
          }
          &:hover {
            i {
              color: $gold;
            }
          }
        }
      }
    }
    .header-contact-block {
      position: absolute;
      top: 0;
      right: 0;

      width: 260px;
      padding: 40px 10px 0 0;

      text-align: right;
      .chose-city {
        font-size: 18px;

        margin: 0 0 20px;
        span {
          font-size: 20px;
          font-weight: normal;

          margin-left: 20px;

          cursor: pointer;
          text-decoration: underline;

          color: $gold;
        }
      }
      .city-phones {
        li {
          display: block;

          margin: 0 0 15px;
          &:before {
            position: absolute;
            top: 0;
            left: 40px;

            width: 20px;
            height: 18px;

            background-image: url(../img/ico/ico-phone.png);
            background-repeat: no-repeat;

            @extend .dblock;
          }
          a {
            font-size: 19px;

            text-decoration: none;

            color: $gray;
          }
          &:hover {
            a {
              color: black;
            }
          }
        }
      }
    }
  }
}
.main-nav {
  background-image: url(../img/bg/main-nav.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  ul {
    text-align: center;

    @extend .clearfix;
    li {
      display: inline-block;
      a {
        font-size: 20px;
        font-weight: normal;

        display: inline-block;

        padding: 12px 40px;

        color: $light-gray;
        &:hover {
          text-decoration: none;

          color: $light-gold;
          background: linear-gradient(to bottom,rgba(153,153,153,.4) ,rgba(0,0,0,.28) 100%);
        }
      }
    }
  }
}
section {
  padding: 0 0 $footer;
}
article {
  @extend .clearfix;
}
.looper {
  @extend .clearfix;
}

.block-slider {
  padding-top: 220px;

  text-align: center;
  text-transform: uppercase;
  .block-slider__title {
    font-size: 47px;
    font-weight: bold;

    color: $light-gold;
    text-shadow: 0 2px 0 rgba(0, 0, 0, .75);
  }
  .block-slider__description {
    font-size: 25px;
    font-weight: bold;

    margin-bottom: 70px;
    padding-bottom: 86px;

    color: #fff;
    background-image: url(../img/block-slider__description.png);
    background-repeat: no-repeat;
    background-position: center bottom;
    text-shadow: 0 2px 0 rgba(0, 0, 0, .75);
  }
  .btn {
    margin-bottom: 110px;
  }
}
.block-whyweare {
  padding-top: 30px;
  padding-bottom: 20px;

  background-image: url(../img/bg/block-whyweare.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  .block-whyweare__bigtitle {
    font-size: 35px;
    font-weight: normal;

    margin-bottom: 6px;

    text-align: center;
    text-transform: uppercase;

    color: #000;
  }
  .block-whyweare__smalltitle {
    font-size: 25px;
    font-weight: normal;

    margin-bottom: 40px;

    text-align: center;
    text-transform: uppercase;

    color: $gold;
  }
  .block-whyweare__body {
    height: 290px;
    padding-top: 165px;

    text-align: center;

    background-repeat: no-repeat;
    background-position: center top;
    a {
      display: block;

      height: 100%;
      &:hover {
        text-decoration: none;
      }
    }
    .block-whyweare__title {
      font-size: 19px;

      margin-bottom: 6px;
      margin-bottom: 5px;

      text-transform: uppercase;
      span {
        text-decoration: underline;
      }
    }
    p {
      font-size: 17px;
      line-height: 1.8;

      padding: 0 40px;

      color: #000;
    }
    &:nth-child(3) {
      background-image: url(../img/ico/ico-block-whyweare-1.png);
    }
    &:nth-child(4) {
      background-image: url(../img/ico/ico-block-whyweare-2.png);
    }
    &:nth-child(5) {
      background-image: url(../img/ico/ico-block-whyweare-3.png);
    }
    &:nth-child(6) {
      background-image: url(../img/ico/ico-block-whyweare-4.png);
    }
    &:nth-child(7) {
      background-image: url(../img/ico/ico-block-whyweare-5.png);
    }
    &:nth-child(8) {
      background-image: url(../img/ico/ico-block-whyweare-6.png);
    }
  }
}
.block-catalog {
  padding-top: 30px;
  padding-bottom: 30px;

  background-image: url(../img/bg/block-catalog.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  .block-catalog__title {
    font-size: 40px;

    margin-bottom: 10px;

    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
  }
  .block-catalog__subtitle {
    font-size: 25px;
    line-height: 30px;

    margin-bottom: 15px;

    text-align: center;

    color: $gold;
  }
  .block-catalog__product {
    height: 480px;
    padding-top: 360px;

    text-align: center;

    background-repeat: no-repeat;
    background-position: top center;
    .block-catalog__name {
      font-size: 20px;

      position: relative;

      display: block;

      width: 200px;
      margin: 0 auto;
      padding: 20px 0;

      cursor: pointer;
      text-align: center;
      text-decoration: none;
      text-transform: uppercase;

      color: #000;
      border: 1px solid $gold;
      &:before {
        position: absolute;
        top: -15px;
        right: 0;
        left: 0;

        height: 15px;

        background-image: url(../img/block-catalog__product.png);
        background-repeat: no-repeat;
        background-position: center;

        @extend .dblock;
      }
      &:hover {
        text-decoration: none;

        color: $gold;
        background-color: lighten($gold, 15%);
      }
    }
  }
}
.block-examples {
  padding-top: 30px;

  background-image: url(../img/bg/block-whyweare.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  .hidden-title {
    font-size: 24px;

    margin-bottom: 20px;
    padding: 10px 0;

    cursor: pointer;
    text-align: center;
    text-transform: uppercase;

    color: $light-gold;
    background-image: url(../img/bg/main-nav.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    &:hover {
      color: $gold;
    }
  }
  .hidden-example {
    display: none;

    height: 400px;
    margin-bottom: 10px;
    padding-top: 50px;
    padding-right: 0;
    padding-left: 270px;

    background-repeat: no-repeat;
    background-position: 60px top;
    .hidden-example__title {
      font-size: 26px;

      width: 220px;
      margin-left: -50px;
      padding: 10px 0;

      text-align: center;
      text-transform: uppercase;

      color: $gold;
      background-color: #fff;
      box-shadow: 5px 5px 6px rgba(0,0,0,.5);
    }
    p {
      font-size: 14px;

      width: 120px;
      margin-bottom: 15px;

      color: $gold;
    }
    .hidden-example__choose {
      display: block;

      height: 45px;
      margin-bottom: 10px;

      @extend .clearfix;
      li {
        display: block;
        float: left;

        width: 45px;
        height: 45px;
        margin: 0 5px;

        cursor: pointer;

        border: 5px solid transparent;
        background-position: center;
        &:hover {
          border-color: #000;
          border-radius: $base-border-radius;
        }
        &.active {
          border-radius: $base-border-radius;
          box-shadow: 0 0 5px rgba(0,0,0,.8),0 0 5px rgba(0,0,0,.8);
        }
      }
    }
    .pickup {
      font-size: 25px;

      position: relative;
      z-index: 1;

      display: block;

      width: 180px;
      padding: 2px;

      text-align: center;
      text-transform: uppercase;

      color: $gold;
      background-color: $brown;
      span {
        display: block;

        width: 100%;
        height: 100%;
        padding: 7px 0;

        border: 1px solid $light-gold;
      }
      &:hover {
        text-decoration: none;

        color: $light-gold;
      }
    }
  }
  .examples__title {
    font-size: 35px;
    font-weight: normal;

    margin-bottom: 30px;

    text-align: center;
  }
  .examples-carousel {
    width: 80%;
    margin: 0 auto 80px;
    padding: 10px 10px 10px 5px;

    border: 3px solid white;
    background-image: url(../img/bg/carousel__item.jpg);
    background-repeat: repeat;
    .examples-carousel__item {
      padding-right: 15px;
      padding-left: 15px;
    }
    .examples-carousel__photos {
      padding-right: 10px;
      padding-left: 5px;
    }
    .big-image {
      display: block;
      overflow: hidden;

      width: 100%;
      height: 440px;
      margin-bottom: 5px;
      img {
        width: 100%;
        min-height: 100%;
      }
    }
    .image-chooser {
      display: block;

      width: 100%;

      @extend .clearfix;
      li {
        display: inline-block;
        float: left;
        overflow: hidden;

        width: 19%;
        height: 80px;
        margin: 0 1% 0 0;

        cursor: pointer;
        &.currentimage {
          border: 3px solid white;
        }
        &:hover {
          opacity: .8;
        }
        &:last-child {
          width: 20%;
          margin-right: 0;
        }
        img {
          width: 100%;
          min-height: 100%;
        }
      }
    }
    .examples-carousel__content {
      padding-top: 10px;

      background-color: #fff;
      .examples-carousel__titles {
        font-size: 22px;
        font-weight: 200;

        margin-bottom: 15px;

        letter-spacing: 5px;
        text-transform: uppercase;
      }
      .examples-carousel__smalltitle {
        font-size: 15px;
        font-weight: bold;

        margin-bottom: 15px;
      }
      p {
        font-size: 15px;
        line-height: 1.7;

        margin-bottom: 10px;
        &:nth-child(2) {
          font-style: italic;
        }
      }
    }
  }
}
.block-achievements {
  padding-top: 60px;
  padding-bottom: 60px;

  text-align: center;

  color: #eae4d1;
  background-image: url(../img/bg/block-achievements.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  .achievements__title {
    font-size: 35px;
    font-weight: 400;
    line-height: 42px;

    margin-bottom: 10px;

    letter-spacing: 3px;
    text-transform: uppercase;
  }
  .achievements__subtitle {
    font-size: 25px;
    line-height: 30px;

    margin-bottom: 40px;

    letter-spacing: 3px;
    text-transform: uppercase;

    color: $gold;
  }
  .achievements__container {
    position: relative;

    padding: 0 2%;
    &:before {
      position: absolute;
      top: -15px;
      right: 0;
      left: 0;

      height: 15px;

      background-image: url(../img/achievements__container.png);
      background-repeat: no-repeat;
      background-position: center;

      @extend .dblock;
    }
    h4 {
      font-size: 40px;
      line-height: 60px;

      letter-spacing: 3px;
      text-transform: uppercase;

      color: #eae4d1;
      border: 1px solid $gold;
    }
    .achievements__sub_container {
      padding: 3px;

      border: 1px solid $gold;
      h5 {
        font-size: 15px;
        line-height: 20px;

        color: $gold;
      }
      p {
        font-size: 14px;
        line-height: 18px;

        text-align: center;
        letter-spacing: 0;
        text-transform: none;

        color: #eae4d1;
      }
    }
  }
}
.block-reviews {
  padding-top: 30px;
  padding-bottom: 30px;

  background-image: url(../img/bg/block-whyweare.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  .reviews-title {
    font-size: 35px;

    margin-bottom: 10px;

    text-align: center;

    color: #000;
  }
  .reviews-subtitle {
    font-size: 25px;
    line-height: 1.4;

    margin-bottom: 30px;
    padding-right: 20%;
    padding-left: 20%;

    text-align: center;
    letter-spacing: 3px;

    color: $gold;
  }
  .reviews-maincontainer {
    padding-top: 30px;
    padding-right: 150px;
    padding-bottom: 30px;
    padding-left: 150px;
    .reviews-container {
      padding: 25px;

      background-image: url(../img/bg/block-catalog.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      .review-name {
        font-size: 20px;
        line-height: 24px;

        padding-top: 40px;

        text-align: left;
        letter-spacing: 3px;
        text-transform: uppercase;
      }
      .review-work {
        font-size: 16px;
        line-height: 24px;

        margin-bottom: 15px;

        text-align: left;
      }
      .review-adress {
        font-size: 16px;
        line-height: 24px;

        margin-bottom: 15px;

        text-align: left;
      }
      .review-project {
        font-size: 16px;
        font-weight: bold;
        line-height: 24px;

        margin-bottom: 15px;

        text-align: left;
      }
      .review-body {
        p {
          font-size: 16px;
          line-height: 19px;

          text-align: left;
        }
      }
    }
    .reviews-avatar {
      float: left;
      overflow: hidden;

      width: 175px;
      height: 175px;
      margin-right: 30px;

      border-radius: 50%;
      img {
        width: 100%;
      }
    }
  }
}
.block-blog {
  background-image: url(../img/bg/block-blog.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 30px;
  padding-bottom: 30px;
  .blog-title {
    text-align: center;
    font-size: 25px;
    letter-spacing: 3px;
    margin-bottom: 30px;
  }
}
footer {
  height: $footer;
  margin: $footer_margin auto 0;

  background-color: $light-gray;
  .inner {
    height: $footer;
  }
}


@import 'fonts/font_fontawesome';
@import 'fonts/font_centrygothic';
@import 'base64';
@import 'import/print';
