/*

*/

.version._________ /* version checker */
{
	color: #000004;
	background-color: #4A6735;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 800px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -36px;
	padding-bottom: 62px;
	width: 0.01px;
}

#u3186
{
	z-index: 3;
	min-height: 185.9000000000001px;
	padding-bottom: 0px;
}

#u3186_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	left: -100px;
	padding-top: 45px;
	padding-bottom: 15px;
}

#u2856-4
{
	z-index: 4;
	width: 599px;
	min-height: 60px;
	left: 274px;
}

#u2858
{
	z-index: 12;
	width: 140px;
	left: 504px;
	margin-top: 14px;
}

#u2857-4
{
	z-index: 8;
	width: 230px;
	min-height: 20px;
	left: 459px;
	margin-top: 14px;
}

#u3186-bw
{
	z-index: 3;
	min-height: 185.9000000000001px;
}

#u3190,#u3190-bw
{
	z-index: 2;
	height: 42px;
}

#menuu2862
{
	z-index: 14;
	width: 960px;
	top: 150px;
	left: -1px;
}

#u2884
{
	width: 135px;
	min-height: 42px;
	margin-right: -10000px;
}

#u2885
{
	width: 135px;
	padding-bottom: 22px;
}

#u2885:hover
{
	width: 135px;
	min-height: 0px;
	margin: 0px;
}

#u2885:active
{
	width: 135px;
	min-height: 0px;
	margin: 0px;
}

#u2887-4
{
	width: 135px;
	min-height: 20px;
	margin-right: -10000px;
	top: 11px;
}

#u2885:hover #u2887-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 135px;
	margin: 0px -10000px 0px 0px;
}

#u2885:active #u2887-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 135px;
	margin: 0px -10000px 0px 0px;
}

#u2898
{
	width: 135px;
	min-height: 42px;
	margin-right: -10000px;
	left: 137px;
}

#u2899
{
	width: 135px;
	padding-bottom: 22px;
}

#u2885.MuseMenuActive,#u2899:hover
{
	width: 135px;
	min-height: 0px;
	margin: 0px;
}

#u2899:active
{
	width: 135px;
	min-height: 0px;
	margin: 0px;
}

#u2902-4
{
	width: 135px;
	min-height: 20px;
	margin-right: -10000px;
	top: 11px;
}

#u2885.MuseMenuActive #u2887-4,#u2899:hover #u2902-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 135px;
	margin: 0px -10000px 0px 0px;
}

#u2899:active #u2902-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 135px;
	margin: 0px -10000px 0px 0px;
}

#u2891
{
	width: 135px;
	min-height: 42px;
	margin-right: -10000px;
	left: 274px;
}

#u2892
{
	width: 135px;
	padding-bottom: 22px;
}

#u2899.MuseMenuActive,#u2892:hover
{
	width: 135px;
	min-height: 0px;
	margin: 0px;
}

#u2892:active
{
	width: 135px;
	min-height: 0px;
	margin: 0px;
}

#u2893-4
{
	width: 135px;
	min-height: 20px;
	margin-right: -10000px;
	top: 11px;
}

#u2899.MuseMenuActive #u2902-4,#u2892:hover #u2893-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 135px;
	margin: 0px -10000px 0px 0px;
}

#u2892:active #u2893-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 135px;
	margin: 0px -10000px 0px 0px;
}

#u2870
{
	width: 135px;
	min-height: 42px;
	margin-right: -10000px;
	left: 411px;
}

#u2873
{
	width: 135px;
	padding-bottom: 22px;
}

#u2892.MuseMenuActive,#u2873:hover
{
	width: 135px;
	min-height: 0px;
	margin: 0px;
}

#u2873:active
{
	width: 135px;
	min-height: 0px;
	margin: 0px;
}

#u2873.MuseMenuActive
{
	width: 135px;
	min-height: 0px;
	margin: 0px;
}

#u2876-4
{
	width: 135px;
	min-height: 20px;
	margin-right: -10000px;
	top: 11px;
}

#u2892.MuseMenuActive #u2893-4,#u2873:hover #u2876-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 135px;
	margin: 0px -10000px 0px 0px;
}

#u2873:active #u2876-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 135px;
	margin: 0px -10000px 0px 0px;
}

#u2873.MuseMenuActive #u2876-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 135px;
	margin: 0px -10000px 0px 0px;
}

#u2905
{
	width: 136px;
	min-height: 42px;
	margin-right: -10000px;
	left: 548px;
}

#u2906
{
	width: 136px;
	padding-bottom: 22px;
}

#u2906:hover
{
	width: 136px;
	min-height: 0px;
	margin: 0px;
}

#u2906:active
{
	width: 136px;
	min-height: 0px;
	margin: 0px;
}

#u2907-4
{
	width: 136px;
	min-height: 20px;
	margin-right: -10000px;
	top: 11px;
}

#u2906:hover #u2907-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 136px;
	margin: 0px -10000px 0px 0px;
}

#u2906:active #u2907-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 136px;
	margin: 0px -10000px 0px 0px;
}

#u2863
{
	width: 136px;
	min-height: 42px;
	margin-right: -10000px;
	left: 686px;
}

#u2866
{
	width: 136px;
	padding-bottom: 22px;
}

#u2906.MuseMenuActive,#u2866:hover
{
	width: 136px;
	min-height: 0px;
	margin: 0px;
}

#u2866:active
{
	width: 136px;
	min-height: 0px;
	margin: 0px;
}

#u2868-4
{
	width: 136px;
	min-height: 20px;
	margin-right: -10000px;
	top: 11px;
}

#u2906.MuseMenuActive #u2907-4,#u2866:hover #u2868-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 136px;
	margin: 0px -10000px 0px 0px;
}

#u2866:active #u2868-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 136px;
	margin: 0px -10000px 0px 0px;
}

#u2877
{
	width: 136px;
	min-height: 42px;
	margin-right: -10000px;
	left: 824px;
}

#u2878
{
	width: 136px;
	padding-bottom: 22px;
}

#u2866.MuseMenuActive,#u2878:hover
{
	width: 136px;
	min-height: 0px;
	margin: 0px;
}

#u2878:active
{
	width: 136px;
	min-height: 0px;
	margin: 0px;
}

#u2878.MuseMenuActive
{
	width: 136px;
	min-height: 0px;
	margin: 0px;
}

#u2881-4
{
	width: 136px;
	min-height: 20px;
	margin-right: -10000px;
	top: 11px;
}

#u2866.MuseMenuActive #u2868-4,#u2878:hover #u2881-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 136px;
	margin: 0px -10000px 0px 0px;
}

#u2878:active #u2881-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 136px;
	margin: 0px -10000px 0px 0px;
}

#u2878.MuseMenuActive #u2881-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 136px;
	margin: 0px -10000px 0px 0px;
}

#pu5241
{
	width: 0.01px;
	margin-top: 1px;
}

#u5241
{
	z-index: 57;
	width: 644px;
	min-height: 247px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u4285
{
	z-index: 58;
	width: 292px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 4px rgba(0,0,0,0.5),0px 0px 4px rgba(0,0,0,0.5);
	border-width: 6px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	margin-bottom: -5px;
	position: relative;
	margin-right: -10000px;
	margin-top: 50px;
	left: 659px;
}

#u4285_clip
{
	overflow: hidden;
	width: 292px;
	height: 321px;
}

#u4285_img
{
	margin: -7px -8px -11px -4px;
}

#u4314-13
{
	z-index: 60;
	width: 433px;
	min-height: 114px;
	background-color: transparent;
	font-size: 16px;
	font-family: '__Century Gothic_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 265px;
	left: 254px;
}

#u4314-3
{
	text-transform: uppercase;
	line-height: 13px;
}

#u4314-5
{
	line-height: 18px;
}

#u4314-2,#u4314-8
{
	text-transform: none;
	line-height: 18px;
	color: #A38E55;
}

#u4314-6,#u4314-9
{
	line-height: 12px;
	color: #A38E55;
}

#u4314-11
{
	text-transform: none;
	line-height: 18px;
	letter-spacing: 1px;
	color: #000000;
}

#u4315-14
{
	z-index: 73;
	width: 187px;
	min-height: 114px;
	background-color: transparent;
	font-family: '__Century Gothic_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 265px;
	left: 11px;
}

#u4315-3
{
	font-size: 16px;
	text-transform: uppercase;
	line-height: 18px;
	color: #A38E55;
}

#u4315-2
{
	text-transform: none;
}

#u4315-4
{
	font-size: 18px;
	text-transform: uppercase;
	line-height: 17px;
}

#u4315-6,#u4315-8,#u4315-10,#u4315-12
{
	font-size: 16px;
	line-height: 18px;
}

#u4313-4
{
	z-index: 91;
	width: 249px;
	min-height: 29px;
	background-color: transparent;
	line-height: 24px;
	font-size: 20px;
	color: #C9AE4D;
	text-transform: uppercase;
	text-align: center;
	font-family: '__Century Gothic_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 65px;
	left: 687px;
}

#widgetu4296
{
	z-index: 95;
	width: 0.01px;
	height: 228px;
	position: relative;
	margin-right: -10000px;
	margin-top: 148px;
	left: 686px;
}

#widgetu4303
{
	z-index: 96;
	width: 249px;
	height: 35px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 107px;
}

#widgetu4303.fld-err-st
{
	background-color: transparent;
	width: 249px;
	height: 35px;
	min-height: 0px;
	margin: 107px -10000px 0px 0px;
}

#u4305-4
{
	z-index: 97;
	width: 249px;
	min-height: 35px;
	border-style: none;
	background-color: #FFFFFF;
	padding: 0px;
	line-height: 26px;
	font-family: '__Century Gothic_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#widgetu4303:hover #u4305-4
{
	background-color: #FFFFFF;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 35px;
	width: 249px;
	margin: 0px -10000px 0px 0px;
}

#widgetu4303.focus-st #u4305-4
{
	background-color: #FFFFFF;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 35px;
	width: 249px;
	margin: 0px -10000px 0px 0px;
}

#u4312-4
{
	z-index: 101;
	width: 249px;
	min-height: 34px;
	border-style: none;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	position: relative;
	margin-right: -10000px;
	margin-top: 195px;
}

#u4311-4
{
	z-index: 105;
	width: 249px;
	min-height: 34px;
	border-style: none;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	position: relative;
	margin-right: -10000px;
	margin-top: 195px;
}

#u4301-4
{
	z-index: 109;
	width: 249px;
	min-height: 34px;
	border-style: none;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	text-align: center;
	color: #E9C461;
	font-family: '__Century Gothic_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 195px;
}

#widgetu4296.frm-sub-st #u4312-4,#widgetu4296.frm-subm-ok-st #u4312-4,#widgetu4296.frm-subm-err-st #u4312-4,#widgetu4296.frm-subm-err-st #u4311-4,#widgetu4296.frm-sub-st #u4311-4,#widgetu4296.frm-subm-ok-st #u4311-4,#widgetu4296.frm-sub-st #u4301-4,#widgetu4296.frm-subm-ok-st #u4301-4,#widgetu4296.frm-subm-err-st #u4301-4
{
	background-color: transparent;
}

#widgetu4296.frm-subm-ok-st #u4301-4 p
{
	color: #E9C461;
	text-align: center;
	font-family: '__Century Gothic_5';
	font-weight: 400;
	font-style: normal;
}

#widgetu4297
{
	z-index: 113;
	width: 249px;
	height: 35px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 53px;
}

#widgetu4297.fld-err-st
{
	background-color: transparent;
	width: 249px;
	height: 35px;
	min-height: 0px;
	margin: 53px -10000px 0px 0px;
}

#u4299-4
{
	z-index: 114;
	width: 249px;
	min-height: 35px;
	border-style: none;
	background-color: #FFFFFF;
	padding: 0px;
	line-height: 26px;
	font-family: '__Century Gothic_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#widgetu4303.fld-err-st #u4305-4,#widgetu4297:hover #u4299-4
{
	background-color: #FFFFFF;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 35px;
	width: 249px;
	margin: 0px -10000px 0px 0px;
}

#widgetu4297.focus-st #u4299-4
{
	background-color: #FFFFFF;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 35px;
	width: 249px;
	margin: 0px -10000px 0px 0px;
}

#widgetu4307
{
	z-index: 118;
	width: 249px;
	height: 35px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#widgetu4307.fld-err-st
{
	background-color: transparent;
	width: 249px;
	height: 35px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u4309-4
{
	z-index: 119;
	width: 249px;
	min-height: 35px;
	border-style: none;
	background-color: #FFFFFF;
	padding: 0px;
	line-height: 26px;
	font-family: '__Century Gothic_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#widgetu4297.fld-err-st #u4299-4,#widgetu4307:hover #u4309-4
{
	background-color: #FFFFFF;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 35px;
	width: 249px;
	margin: 0px -10000px 0px 0px;
}

#widgetu4307.focus-st #u4309-4
{
	background-color: #FFFFFF;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 35px;
	width: 249px;
	margin: 0px -10000px 0px 0px;
}

#widgetu4307.fld-err-st #u4309-4
{
	background-color: #FFFFFF;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 35px;
	width: 249px;
	margin: 0px -10000px 0px 0px;
}

#widgetu4303.fld-err-st #u4305-4 *,#widgetu4297.fld-err-st #u4299-4 *,#widgetu4307.fld-err-st #u4309-4 *
{
	color: #ED1C24;
}

#widgetu4303_input,#widgetu4303_prompt,#widgetu4297_input,#widgetu4297_prompt,#widgetu4307_input,#widgetu4307_prompt
{
	width: 249px;
	min-height: 35px;
	font-family: '__Century Gothic_5';
	font-weight: 400;
	padding: 0px;
}

#widgetu4303:hover #widgetu4303_input,#widgetu4303.focus-st #widgetu4303_input,#widgetu4303.fld-err-st #widgetu4303_input,#widgetu4303:hover #widgetu4303_prompt,#widgetu4303.focus-st #widgetu4303_prompt,#widgetu4303.fld-err-st #widgetu4303_prompt,#widgetu4297:hover #widgetu4297_input,#widgetu4297.focus-st #widgetu4297_input,#widgetu4297.fld-err-st #widgetu4297_input,#widgetu4297:hover #widgetu4297_prompt,#widgetu4297.focus-st #widgetu4297_prompt,#widgetu4297.fld-err-st #widgetu4297_prompt,#widgetu4307:hover #widgetu4307_input,#widgetu4307.focus-st #widgetu4307_input,#widgetu4307.fld-err-st #widgetu4307_input,#widgetu4307:hover #widgetu4307_prompt,#widgetu4307.focus-st #widgetu4307_prompt,#widgetu4307.fld-err-st #widgetu4307_prompt
{
	padding-top: 0px;
	padding-bottom: 0px;
}

#widgetu4303.non-empty-st #widgetu4303_prompt,#widgetu4297.non-empty-st #widgetu4297_prompt,#widgetu4307.non-empty-st #widgetu4307_prompt
{
	visibility: hidden;
}

#u4302-17
{
	z-index: 123;
	min-height: 41px;
	width: 255px;
	position: relative;
	margin-right: -10000px;
	margin-top: 157px;
	left: -3px;
	background: url("../images/u4302-17.png") no-repeat 3px 3px;
}

#u4302-17:hover
{
	background: url("../images/u4302-17-r.png") no-repeat 0px 0px;
}

#u4302-17:active
{
	background: url("../images/u4302-17-m.png") no-repeat 3px 3px;
}

#widgetu4296.frm-sub-st #u4302-17
{
	background: url("../images/u4302-17-fs.png") no-repeat 3px 3px;
}

#u5246-4
{
	z-index: 265;
	width: 645px;
	min-height: 49px;
	border-style: solid;
	border-color: #535350;
	background-color: #FFFFFF;
	line-height: 50px;
	font-size: 25px;
	text-align: center;
	font-family: '__Century Gothic_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	border-width: 0px 0px 2px;
}

#u5247
{
	z-index: 269;
	width: 5px;
	height: 203px;
	border-style: solid;
	border-color: #535350;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 51px;
	left: 643px;
	border-width: 0px 0px 0px 2px;
}

#u5248
{
	z-index: 270;
	width: 5px;
	height: 644px;
	border-style: solid;
	border-color: #535350;
	background-color: transparent;
	-webkit-transform: matrix(0,1,-1,0,326,319);
	-ms-transform: matrix(0,1,-1,0,326,319);
	transform: matrix(0,1,-1,0,326,319);
	margin-bottom: -198px;
	position: relative;
	margin-right: -10000px;
	margin-top: -66px;
	left: 319px;
	border-width: 0px 0px 0px 2px;
}

#u5212
{
	z-index: 192;
	width: 960px;
	background-color: transparent;
	margin-top: 36px;
	position: relative;
}

#u4292-4
{
	z-index: 87;
	width: 641px;
	min-height: 29px;
	background-color: transparent;
	line-height: 24px;
	font-size: 20px;
	color: #42410B;
	letter-spacing: 1px;
	text-transform: uppercase;
	text-align: center;
	font-family: '__Century Gothic_5';
	font-weight: 700;
	margin-left: 172px;
	margin-top: 21px;
	position: relative;
}

#pu5230-4
{
	width: 0.01px;
	margin-top: 23px;
}

#u5230-4
{
	z-index: 194;
	width: 298px;
	min-height: 37px;
	line-height: 37px;
	font-size: 16px;
	color: #E9C461;
	letter-spacing: 2px;
	text-transform: uppercase;
	text-align: center;
	font-family: '__Century Gothic_5';
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/%d1%84%d0%be%d1%80%d0%bc%d0%b0.jpg") no-repeat center center;
}

#u5232-4
{
	z-index: 198;
	width: 298px;
	min-height: 37px;
	line-height: 37px;
	font-size: 16px;
	color: #E9C461;
	letter-spacing: 2px;
	text-transform: uppercase;
	text-align: center;
	font-family: '__Century Gothic_5';
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	left: 334px;
	background: transparent url("../images/%d1%84%d0%be%d1%80%d0%bc%d0%b0.jpg") no-repeat center center;
}

#u5234-4
{
	z-index: 202;
	width: 298px;
	min-height: 37px;
	line-height: 37px;
	font-size: 16px;
	color: #E9C461;
	letter-spacing: 2px;
	text-transform: uppercase;
	text-align: center;
	font-family: '__Century Gothic_5';
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	left: 662px;
	background: transparent url("../images/%d1%84%d0%be%d1%80%d0%bc%d0%b0.jpg") no-repeat center center;
}

#pu5231-20
{
	width: 0.01px;
}

#u5231-20
{
	z-index: 206;
	width: 294px;
	min-height: 205px;
	border-style: solid;
	border-color: #BEA774;
	background-color: transparent;
	letter-spacing: 1px;
	font-family: '__Century Gothic_5';
	position: relative;
	margin-right: -10000px;
	border-width: 0px 2px 2px;
}

#u5233-20
{
	z-index: 226;
	width: 294px;
	min-height: 205px;
	border-style: solid;
	border-color: #BEA774;
	background-color: transparent;
	letter-spacing: 1px;
	font-family: '__Century Gothic_5';
	position: relative;
	margin-right: -10000px;
	left: 334px;
	border-width: 0px 2px 2px;
}

#u5235-19
{
	z-index: 246;
	width: 294px;
	min-height: 205px;
	border-style: solid;
	border-color: #BEA774;
	background-color: transparent;
	letter-spacing: 1px;
	font-family: '__Century Gothic_5';
	position: relative;
	margin-right: -10000px;
	left: 662px;
	border-width: 0px 2px 2px;
}

#u5231,#u5233,#u5235
{
	text-align: center;
	color: #C9AE4D;
	font-weight: 700;
}

#u5231-6,#u5233-6,#u5235-6,#u5235-7
{
	text-align: center;
	font-weight: 700;
}

#u5231-3,#u5231-9,#u5233-3,#u5233-9,#u5235-3,#u5235-9
{
	text-align: center;
	color: #A38E55;
	font-weight: 700;
}

#u5231-4,#u5231-7,#u5231-10,#u5231-12,#u5231-14,#u5231-16,#u5233-4,#u5233-7,#u5233-10,#u5233-12,#u5233-14,#u5233-16,#u5235-4,#u5235-10,#u5235-12,#u5235-14,#u5235-15
{
	text-align: center;
	font-weight: 400;
}

#u5231-17,#u5233-17,#u5235-16
{
	font-weight: 400;
}

#u5231-18,#u5233-18,#u5235-17
{
	font-size: 18px;
	text-align: center;
	line-height: 20px;
	font-weight: 400;
}

#u4320
{
	z-index: 140;
	min-height: 265px;
	padding-bottom: 22px;
	background: transparent url("../images/%d0%b4%d0%be%d1%81%d1%82%d0%b8%d0%b6%d0%b5%d0%bd%d0%b8%d1%8f_%d1%84%d0%be%d0%bd.jpg") no-repeat center center;
	background-size: cover;
}

#u4320_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	position: relative;
	left: -100px;
}

#pu4337
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 29px;
	margin-left: 107px;
}

#u4337
{
	z-index: 190;
	width: 151px;
	background-color: transparent;
	margin-left: 14px;
	position: relative;
}

#u4324-4
{
	z-index: 153;
	width: 201px;
	min-height: 17px;
	background-color: transparent;
	line-height: 14px;
	font-size: 12px;
	text-align: center;
	color: #EAE4D1;
	font-family: '__Century Gothic_5';
	font-weight: 400;
	margin-top: 94px;
	position: relative;
}

#pu4321-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 22px;
	margin-left: 350px;
}

#u4321-4
{
	z-index: 141;
	width: 461px;
	min-height: 31px;
	background-color: transparent;
	line-height: 36px;
	font-size: 30px;
	text-align: center;
	color: #E9C461;
	font-family: '__Century Gothic_5';
	font-weight: 400;
	position: relative;
}

#u5231-2,#u5231-8,#u5233-2,#u5233-8,#u5235-2,#u5235-8,#u4321
{
	text-decoration: underline;
}

#pu4323-4
{
	width: 0.01px;
	margin-left: 1px;
	margin-top: 81px;
}

#u4323-4
{
	z-index: 149;
	width: 181px;
	min-height: 31px;
	background-color: transparent;
	line-height: 29px;
	font-size: 24px;
	text-align: center;
	color: #EAE4D1;
	font-family: '__Century Gothic_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u4326
{
	z-index: 161;
	width: 42px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 209px;
}

#u4325-4
{
	z-index: 157;
	width: 181px;
	min-height: 31px;
	background-color: transparent;
	line-height: 29px;
	font-size: 24px;
	text-align: center;
	color: #EAE4D1;
	font-family: '__Century Gothic_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 279px;
}

#u4322-4
{
	z-index: 145;
	width: 275px;
	min-height: 31px;
	background-color: transparent;
	line-height: 24px;
	font-size: 20px;
	text-align: center;
	color: #E9C461;
	font-family: '__Century Gothic_5';
	font-weight: 400;
	margin-left: 93px;
	margin-top: 17px;
	position: relative;
}

#pu4334
{
	width: 0.01px;
	margin-left: 185px;
	margin-top: 18px;
}

#u4334
{
	z-index: 187;
	width: 23px;
	height: 23px;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/1.png") no-repeat left top;
}

#u4334:hover
{
	width: 23px;
	height: 23px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	background: transparent url("../images/%d0%ba%d0%be%d0%bd%d1%82%d0%b0%d0%ba%d1%82.png") no-repeat left top;
}

#u4335
{
	z-index: 188;
	width: 23px;
	height: 23px;
	position: relative;
	margin-right: -10000px;
	left: 34px;
	background: transparent url("../images/2.png") no-repeat left top;
}

#u4335:hover
{
	width: 23px;
	height: 23px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	background: transparent url("../images/%d1%84%d0%b5%d1%81%d0%b1%d1%83%d0%ba.png") no-repeat left top;
}

#u4336
{
	z-index: 189;
	width: 23px;
	height: 23px;
	position: relative;
	margin-right: -10000px;
	left: 68px;
	background: transparent url("../images/3.png") no-repeat left top;
}

#u4336:hover
{
	width: 23px;
	height: 23px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	background: transparent url("../images/%d1%82%d0%b2%d0%b8%d1%82%d0%b5%d1%80.png") no-repeat left top;
}

#pu4329-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 36px;
	margin-left: 855px;
}

#u4329-4
{
	z-index: 167;
	width: 181px;
	min-height: 26px;
	background-color: transparent;
	line-height: 24px;
	font-size: 20px;
	text-align: left;
	color: #EAE4D1;
	font-family: '__Century Gothic_5';
	font-weight: 400;
	position: relative;
}

#u4328-4
{
	z-index: 163;
	width: 181px;
	min-height: 26px;
	background-color: transparent;
	line-height: 24px;
	font-size: 20px;
	text-align: left;
	color: #EAE4D1;
	font-family: '__Century Gothic_5';
	font-weight: 400;
	margin-top: 5px;
	position: relative;
}

#u4332-4
{
	z-index: 179;
	width: 181px;
	min-height: 26px;
	background-color: transparent;
	line-height: 24px;
	font-size: 20px;
	text-align: left;
	color: #EAE4D1;
	font-family: '__Century Gothic_5';
	font-weight: 400;
	margin-top: 5px;
	position: relative;
}

#u4331-4
{
	z-index: 175;
	width: 181px;
	min-height: 26px;
	background-color: transparent;
	line-height: 24px;
	font-size: 20px;
	text-align: left;
	color: #EAE4D1;
	font-family: '__Century Gothic_5';
	font-weight: 400;
	margin-top: 5px;
	position: relative;
}

#u4330-4
{
	z-index: 171;
	width: 181px;
	min-height: 26px;
	background-color: transparent;
	line-height: 24px;
	font-size: 20px;
	text-align: left;
	color: #EAE4D1;
	font-family: '__Century Gothic_5';
	font-weight: 400;
	margin-top: 5px;
	position: relative;
}

#u4333-4
{
	z-index: 183;
	width: 181px;
	min-height: 26px;
	background-color: transparent;
	line-height: 24px;
	font-size: 20px;
	text-align: left;
	color: #EAE4D1;
	font-family: '__Century Gothic_5';
	font-weight: 400;
	margin-top: 6px;
	position: relative;
}

#u4320-bw
{
	z-index: 140;
	min-height: 265px;
	margin-top: 36px;
}

@font-face
{
	font-family: '__Century Gothic_5';
	src: url('../fonts/centurygothic-bold.eot');
	src: local('☺'), url('../fonts/centurygothic-bold.woff') format('woff'), url('../fonts/centurygothic-bold.svg') format('svg');
	font-weight: 700;
	font-style: normal;
}

@font-face
{
	font-family: '__Century Gothic_5';
	src: url('../fonts/centurygothic.eot');
	src: local('☺'), url('../fonts/centurygothic.woff') format('woff'), url('../fonts/centurygothic.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 36px;
}

